
*{
  box-sizing: border-box;
}

body{
  line-height: 1.6;
  color: #3a3a3a;
}

li{
  list-style-type: none;
}

a{
  /* color: #fff; */
  text-decoration: none;
}

.name{
  margin-top: 0;
}

.name,
.main-nav li{
  background: white;
  color: black;
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: center;
}

.container{
  padding-left: 1em;
  padding-right: 1em;
}

 .sec{
   background: #3acec2;
   /* padding-bottom: 1.5em; */
   margin-bottom: 80px;
   text-align: center;
 }

 .main-footer{
   text-align: center;
   padding: 2em 0;
   background: #d9e4ea;
 }

 .roundimage{
   border-radius: 50%;
   padding-top: 4px;
 }


 @media (min-width: 769px) {

   .wrap{
     min-height: calc(100vh - 89px);
   }

   .container{
     max-width: 1000px;
     margin: 0 auto;
     width: 70%;
   }

   /* .name,
   .main-nav,
   .main-nav li{
     display: inline-block;
   } */

   .secondary{
     margin-bottom: 90px;
   }

   .col {
     float: left;
   }

   .primary{
     width: 30%;
     /* float: right; */
   }
   .secondary{
     width: 40%;
     /* float: right; */
   }
   .teritary{
     width: 30%;
     /* float: left; */
   }


   .name{
     float: left;
   }

   .main-nav{
     float: right;
   }

   .main-nav li{
     float: left;
     margin-left: 12px;
   }

   .featuredImg{
     float: left;
     padding-right: 12px;
   }

   .clearfix::after{
     content: "";
     display: table;
     clear: both;
   }

   /* .col {
     display: inline-block;
     width: 50%;
     margin-right: -4px;
     vertical-align: top;
     padding-left: 1em;
     padding-right: 1em;
   } */
 }
